<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.docmall.mapper.CartMapper">

<update id="cart_amount_change" parameterType="map">

update cart_tbl set cart_amount = #{cart_amount} where cart_code = #{cart_code}

</update>


<insert id="cart_add" parameterType="com.docmall.domain.CartVO">

merge into
 cart_tbl
using dual
	on 
(MBSP_ID = #{mbsp_id} and PRO_NUM = #{pro_num})
	when
 matched then
    update
        set CART_AMOUNT = CART_AMOUNT + #{cart_amount}
	when

 not matched then
    insert(cart_code, pro_num, mbsp_id, cart_amount)
    values(seq_cart_code.nextval,#{pro_num},#{mbsp_id},#{cart_amount})
    
    
</insert>
<select id="pro_list" resultType="com.docmall.domain.ProductVO" parameterType="List">

select PRO_UP_FOLDER, PRO_IMG
from 
product_tbl





</select>

<select id="cart_list" resultType="com.docmall.dto.CartDTOList">

select 
	c.cart_code,c.PRO_NUM,c.CART_AMOUNt, p.pro_name, p.PRO_PRICE,p.PRO_IMG,p.PRO_DISCOUNT,p.PRO_UP_FOLDER
from 
	product_tbl p inner join cart_tbl c
 on
 	p.PRO_NUM = c.pro_num
where 
	c.mbsp_id = #{mbsp_id}

</select>
</mapper>