<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.docmall.mapper.OrderMapper">
			
<select id="getOrderSeq" resultType="int">
SELECT SEQ_QRD_CODE.NEXTVAL from dual
</select>
			

<insert id="order_insert" parameterType="com.docmall.domain.OrderVO">

insert into
	order_tbl(ord_code, MBSP_ID, ORD_NAME, ORD_ADDR_ZIPCODE, ORD_ADDR_BASIC, 
	ORD_ADDR_DETAIL, ORD_TEL, ORD_PRICE, ORD_REGDATE, ORD_STATUS, PAYMENT_STATUS)
values
	(#{ord_code}, #{mbsp_id}, #{ord_name},
	 #{ord_addr_zipcode}, #{ord_addr_basic},
	  #{ord_addr_detail}, #{ord_tel}, #{ord_price}, 
	  sysdate, #{ord_status}, #{payment_status})

</insert>			


<insert id="order_detail_insert" parameterType="map">
insert into 
ORDETAIL_TBL(ord_code, PRO_NUM, DT_AMOUNT, DT_PRICE)
select 
#{ord_code},c.PRO_NUM,c.CART_AMOUNT,p.PRO_PRICE
from 
cart_tbl c inner join product_tbl p on c.pro_num = p.pro_num
where  mbsp_id = #{mbsp_id}

</insert>

<insert id="payment_insert" parameterType="com.docmall.domain.PaymentVO">
insert into payment(
pay_code, ORD_CODE, MBSP_ID, PAY_METHOD, PAY_DATE, PAY_TOT_PRICE
<if test="pay_nobank_price != null and pay_nobank_price !=''">
,PAY_NOBANK_PRICE,PAY_NOBANK_USER, PAY_NOBANK, PAY_MEMO,pay_bankaccount
</if>
)
values(SEQ_PAYMENT_CODE.nextval,#{ord_code},#{mbsp_id},#{pay_method},sysdate,#{pay_tot_price}

<if test="pay_nobank_price != null and pay_nobank_price !=''">
,#{pay_nobank_price},#{pay_nobank_user},#{pay_nobank},#{pay_memo},#{pay_bankaccount}
</if>
)

</insert>


<delete id="cart_del" parameterType="String">

delete from 
		cart_tbl
	where
	mbsp_id =#{mbsp_id}
</delete>
			
</mapper>